{% extends "base.html" %}

{% block content %}
<div class="container">
        <div class="shadow-lg border border-warning bg-light rounded-3 p-3 mx-auto my-5"
            style="max-width: 70%; min-height:40%">
            <h1 class="text-center mb-5" style="font-family:Verdana;">Sign In</h1>
            <div class="form">
                    {% include "./includes/messages.html" %}
                    <form method="POST" novalidate>
                        {% csrf_token %}
                        {{form.as_div}}
                        <div class="">
                            <button class="btn btn-success w-100" type="submit">Sign In</button>
                            <a href="/forgot-password" class="nav-link text-center">Forgot password</button></a>
                        </div>
                    </form>
                <div class="my-2">
                    <center>Don't have an account?
                        <a href="{% url "registerPage" %}" class="text-decoration-none fw-bold">Register</a>
                    </center>
                </div>
            </div>
        </div>
    </div>
{% endblock %}